.green-btn {
  background: #13f195;
  border-radius: 8px;
  padding: 8px 16px;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #030507;

  &.only__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
  }
  .green-btn__disactive{
    background: #000;
  }
}

.gray-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  background: #7bb9ff1a;
  backdrop-filter: blur(120px);
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;

  &.only__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
  }
}
