.my__purchases {
  .purchases__table {
    background: #090e15;
    border-radius: 16px;
    overflow: hidden;
  }
  .purchases__thead {
    display: flex;
    gap: 16px;
    padding: 12px 24px;
  }
  .purchases__th {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    &:first-child {
      width: 500px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      width: 180px;
      text-align: center;
    }
  }

  .scroll__box-table {
    margin-bottom: 32px;
  }
  .purchases__td {
    &-title {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
    &-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: #13f195;
      .child-text {
        font-weight: 700;
        font-size: 14px;
        line-height: 100%;
        color: #ff3f3c;
      }
    }

    &.btns {
      display: flex;
      gap: 8px;
    }
    &:first-child {
      width: 500px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      width: 180px;
      text-align: center;
    }
    &:last-child {
      margin-left: auto;
    }
  }

  .purchases__tr {
    border-bottom: 1px solid #142133;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 24px;
    gap: 16px;
    position: relative;

    &:last-child {
      border: none;
    }

    &-status {
      display: flex;
      align-items: center;
      gap: 8px;
      background: #13f1951a;
      padding: 6px 16px;
      border-radius: 0 0 16px 0;
      position: absolute;
      z-index: 10;
      top: 0;
      height: 21px;
      left: 0;
      span {
        font-weight: 400;
        font-size: 12px;
        color: #7a8895;
      }
      h4 {
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        color: #13f195;
      }
    }

    &.ended {
      color: #7a8895;
      .purchases__td-text {
        color: #7a8895;
      }
      .purchases__tr-status {
        background: #ff3f3c1a;
        h4 {
          color: #ff3f3c;
        }
      }
      strong {
        color: #ff3f3c;
      }
    }
  }
  .purchases__tbody {
    .purchases__tr {
      &:nth-child(odd) {
        background: #10151c;
      }
    }
  }
}
