html {
  scroll-behavior: smooth;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}
a,
span {
  display: inline-block;
  text-decoration: none;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background: #030507;
  &.no-scroll {
    overflow: hidden;
  }
}

.wrapper {
  overflow: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}
.container {
  max-width: 1076px;
  margin: 0 auto;
  overflow: hidden;
}
main {
  display: flex !important;
  .main__container {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 32px;
  }
}
.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.title__lg {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.sub__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #7a8895;
  display: block;
  margin-top: 8px;
}

.filter-box {
  transition: all 0.2s linear;
  cursor: pointer;
  border-radius: 999px;
  background: #7bb9ff0d;
  color: #7a8895;
  &.active {
    background: #13f1951a;
    color: #13f195;
    svg path {
      fill: #13f195;
    }
  }
  &:not(.active) {
    &:hover {
      color: #fff;
    }
  }
}

.title__box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.swiper__btns {
  display: flex;
  gap: 4px;
  .swiper__btn {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #1c2430;
    transition: all 0.2s linear;
    &:hover {
      opacity: 0.7;
    }
  }
}

.paginations {
  display: flex;
  gap: 8px;
  justify-content: center;

  .pagination__box {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7a8895;
    border: 1px solid #142133;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    &.active {
      background: #13f195;
      color: #121212;
    }
  }
}

.tab {
  display: flex;
}

.tab-content {
  display: none;
  animation: fade 0.2s linear;
  &.active {
    display: block;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.form-control {
  background: #7bb9ff0d;
  padding: 16px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  border: none;
  outline: none;
  width: 100%;
  transition: all 0.2s linear;
  border: 1px solid transparent;
  &::placeholder {
    color: #fff;
  }
  &:hover {
    border-color: #13f195;
  }
}

.breadcrump {
  display: flex;
  align-items: center;
  gap: 4px;
  a {
    color: #7a8895;
    &.active {
      color: #fff;
    }
    &:not(.active) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .icon {
    height: 20px;
  }
}

.media__block-breadcrump {
  display: none;
}

.line__tab {
}

::-webkit-scrollbar {
  width: 4px;
  background: transparent;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 8px;
  background: #7bb9ff1a;
}

.tooltip__container {
  position: relative;
  &:hover {
    .tooltip {
      opacity: 1;
      visibility: visible;
    }
  }

  .tooltip {
    position: absolute;
    left: -8px;
    top: -75%;
    padding: 4px 8px;
    border-radius: 4px;
    background: #000000;
    box-shadow: 0px 1px 4px 0px #ffffff0d;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #7a8895;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;

    &::before {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      width: 8px;
      height: 8px;
      background: #000;
    }
  }
}
