@media (max-width: 1320px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 1300px) {
  .my__purchases .scroll__box-table {
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .my__purchases .purchases__table {
    width: 1047px;
  }
}

@media (max-width: 1024px) {
  .intro__content {
    background-size: cover;
  }
  .proxy .three-columns {
    & > div,
    .count {
      flex-grow: 1;
    }
    .count {
      text-align: center;
      justify-content: center;
    }
    .gray-btn {
      justify-content: center;
    }
  }
  .proxy__boxes {
    flex-direction: column;
  }
  .proxy .traffic__statistics {
    width: 100%;
  }
  .proxy .traffic__statistics .rounded__box {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
      0px 16px 24px 2px rgba(0, 0, 0, 0.14),
      0px 6px 30px 5px rgba(0, 0, 0, 0.12);
    transform: none;
    transition: transform 225ms cubic-bezier(0, 0, 0.2, 1);
    width: 100%;
    transform: translateX(100%);
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(9, 14, 21, 0.9);
    backdrop-filter: blur(10px);
    &::-webkit-scrollbar {
      display: none;
    }
    &.show {
      transform: translateX(0);
    }
  }
  .sidebar__header {
    .logo {
      display: none;
    }
  }
  .sidebar__header .sidebar__btn {
    display: none;
  }
  .sidebar .close__sidebar-btn {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    background-color: rgba(123, 185, 255, 0.1);
    svg {
      width: 24px;
    }
  }
  .container {
    padding: 0 16px;
  }
  .intro__content {
    padding: 46px 27px 52px 16px;
  }
  .intro__title {
    margin: 20px 0;
  }
  .accounts__market .filter {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%;
  }
  .accounts__market-header {
    flex-direction: column;
    align-items: start;
  }
  .accounts__market .filter__box {
    justify-content: space-between;

    &:first-child {
      z-index: 40;
    }
    &:nth-child(2) {
      z-index: 30;
    }
    &:nth-child(3) {
      z-index: 20;
    }
    &:nth-child(4) {
      z-index: 10;
    }
  }
  .accounts__market .filter__box:hover .filter__options {
    background: #090e15;
  }
  .accounts__market .filter__bottom.media__none {
    display: none;
  }
  .accounts__market .product__card {
    display: none;
    &:first-child {
      display: flex;
    }
  }
  .header {
    .header__language,
    .header__user-box,
    .sell__box {
      display: none;
    }
    .profile__box {
      .header__right-text,
      .arrow__img {
        display: none;
      }
    }
  }
  .header__logo-box {
    display: block;
    height: 22px;
    img {
      width: 45px;
      height: 22px;
    }
  }
  .lang__media {
    display: flex;
    align-items: center;
    gap: 4px;
    img {
      transition: all 0.2s linear;
    }
    &.active {
      img {
        transform: rotate(180deg);
      }
    }
  }
  .header__dropdown-toggle .lang {
    opacity: 1;
    visibility: visible;
  }
  .lang {
    display: none;
  }

  .lang.show {
    display: block;
  }

  .header .header__menu-btn {
    background: #7bb9ff1a;
    backdrop-filter: blur(120px);
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 24px;
    }
  }
  .profile__banner {
    height: 180px;
  }
  .tele__go,
  .tele__go .left__box {
    flex-wrap: wrap;
  }
  .scroll__pagination {
    overflow-x: auto;
    margin: 0 -20px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .paginations {
    min-width: 520px;
    width: 520px;
  }

  .profile__market .reviews .tele__go {
    flex-wrap: nowrap;
    position: relative;
  }
  .profile__market .reviews .rating__box {
    position: absolute;
    top: 24px;
    right: 24px;
  }
  .modal .modal__product .product__name {
    font-size: 16px;
  }
  .accounts__market {
    gap: 16px;
  }
  .register__page {
    .media__none-breadcrump {
      display: none;
    }
    .media__block-breadcrump {
      display: flex;
    }
    .header__right-box.parent {
      padding: 0;
    }
  }
  .header__right-box .green-btn {
    padding: 4px 12px;
    font-size: 14px;
  }
  .register__page .main__container .container {
    overflow-y: auto;
    height: fit-content;
  }
  .register__page .form {
    height: fit-content;
  }
  .register__page .form {
    padding-top: 100px;
  }
  .proxy .three-columns {
    gap: 20px;
    flex-direction: column;
    align-items: start;
    & > div {
      width: 100%;
    }
  }
  .proxy .three-columns .gray-btn {
    width: fit-content;
  }
  .proxy .location-options {
    .filter__box {
      width: 100%;
    }
  }
  .proxy .columns-section {
    flex-direction: column;
    align-items: start;
    & > div {
      width: 100%;
    }
  }
  .proxy .city__filter {
    max-width: 100%;
  }
  .proxy {
    .top__tab {
      margin-bottom: 0;
    }
  }
  .my__purchases .purchases__td:nth-child(2),
  .my__purchases .purchases__td:nth-child(3),
  .my__purchases .purchases__th:nth-child(2),
  .my__purchases .purchases__th:nth-child(3) {
    width: 145px;
  }
  .my__purchases .purchases__table {
    width: 1000px;
  }
  .header .header__right-box-none,
  .media__none-btn {
    display: none;
  }
  .modal.centered-modal .modal__footer {
    flex-direction: column;
    button {
      width: 100%;
    }
  }
  .modal .input-box {
    height: 46px;
  }
  .modal.centered-modal .code .code__input {
    height: 50px;
    font-size: 16px;
    padding: 0;
  }
}
@media (max-width: 600px) {
  .modal,
  .modal .empy__content {
    max-width: 100%;
    width: 100%;
  }
  .modal .modal__product .product__name {
    width: fit-content;
  }
  .modal .modal__product {
    flex-direction: column;
    & > div {
      width: 100%;
    }
  }
  .modal .modal__product .price {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .intro__title {
    width: 280px;
  }
  .profile__market .reviews__tab {
    width: 100%;
    justify-content: space-between;
  }
}
